// GENERAL
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media (min-width: $tablet) and (max-width: $laptop) {
    font-size: 58%;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-primary;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 3rem;
}

body {
  font-family: $font-secondary;
  font-size: 1.7rem;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 2.45rem;
}

h4 {
  font-size: 1.6rem;
}

p {
  font-size: 1.8rem;
  line-height: 1.6em;
  margin: 2.5rem 0;
}

a {
    text-decoration: none;
    color: $color-text;
    word-break: break-word;
}

ul {
  list-style: none;
}

a:hover {
    color: $color-primary-dark;
}

.site-content {
  display: block;
  max-width: $site-width;  
  margin: 0 auto;
}

//RESPONSIVE
//ONLY LAPTOP
@media (min-width: $tablet) and (max-width: $laptop) {
  .site-content {padding: 0 3rem;}
  h3 {font-size: 2.1rem;}
}


//TABLET
@media (max-width: $tablet) {
  .site-content{max-width: $site-width-tablet;}
  h2{font-size: 3.2rem;}
}

//PHONE
@media (max-width: $phone) {
  .site-content {max-width: $site-width-phone;}
}

@media (max-width: 34em) {
  .site-content {
    width: 100%;
    padding: 0 1.5rem;
  }
}