// GENERAL
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

@media only screen and (max-width: 68.75em) {
    html {
      font-size: 56.5%; }
    }

h1,h2,h3,h4,h5,h6 {
    font-family: $font-secondary;
}

body {
    font-family: $font-tertiary;
    font-size: 1.7rem;
}

p {
    line-height: 1.6em;
    margin: 2.5rem;
}

.site-content {
    display: block;
    max-width: 120rem;
    margin: 0 auto;

    @media only screen and (max-width: 77.5em) {
        padding: 0 2rem;
    }
}

