// GENERAL
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: 90em) {
    font-size: 58%;
  }

  @media only screen and (max-width: 77.5em) {
    font-size: 56.5%;
  }

}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-primary;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 3rem;
}

body {
  font-family: $font-secondary;
  font-size: 1.7rem;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.6rem;
}

p {
  font-size: 1.8rem;
  line-height: 1.6em;
  margin: 2.5rem 0;
}

a {
    text-decoration: none;
    color: $color-text;
    word-break: break-word;
}

ul {
  list-style: none;
}

a:hover {
    color: $color-primary-dark;
}

.site-content {
  display: block;
  max-width: 129rem;  
  margin: 0 auto;

  @media only screen and (max-width: 77.5em) {
    padding: 0 3rem;
  }
}

// @media only screen and (max-width: $tablet) {
//   h2 {
//     font-size: 3.2rem;
//   }

//   h3 {
//     font-size: 3rem;
//   }
// }
