.heading-primary {
    font-family: $font-tertiary;
    font-size: $fs-hg;
    color: $color-text;
}

.heading-secondary {
    font-family: $font-tertiary;
    font-weight: 500;
    font-size: $fs-md;
    color: $color-text;
}

.paragraph {
    font-family: $font-tertiary;
    font-size: $fs-sm;
    color: $color-text;
    line-height: 150%;
    margin: 2.5rem 0;
}