.mg-tn {margin: 1rem 0;}
.mg-sm {margin: 2rem 0;}
.mg-md {margin: 3rem 0;}
.mg-bg {margin: 5rem 0;}
.mg-hg {margin: 7rem 0;}

.divider {
    width: 100%;
    height: 1px;
    background-color: $color-gray-light;
}

.sub {
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 2.1rem;
    color: $color-text;
    text-transform: uppercase;
    padding-bottom: 2rem;
}