//Margins
.m0 {margin: 0};
.m1 {margin: 1rem 0;}
.m2 {margin: 2rem 0;}
.m3 {margin: 3rem 0}
.m5 {margin: 5rem 0;}

//Margin tops
.mt-a {margin-top: auto;}
.mt-05 {margin-top: 5px !important;}

//Margin bottoms
.mb-15 {margin-bottom: 1.5rem !important;}
.mb-5 {margin-bottom: 3rem !important;}
.mb-7 {margin-bottom: 5rem !important;}

//Title sizes
.title-xs {font-size: 1.8rem;}
.title-sm {font-size: 2rem;}

//Borders
.border-bt1 {border-bottom: 1px solid#dcdbdb;}

//Paddings
.pd3l {padding: 0 3rem;}