//Margins
.m1 {margin: 1rem 0;}
.m2 {margin: 2rem 0;}
.m3 {margin: 3rem 0}
.mg-bg {margin: 5rem 0;}
.m5 {margin: 5rem 0;}
.mg-hg {margin: 7rem 0;}

//Margin tops
.mt-a {margin-top: auto;}

//Margin bottoms
.mb-5 {margin-bottom: 3rem;}


.title-xs {font-size: 1.84rem;}
.title-sm {font-size: 2rem;}