//COLORS
//green's
$color-primary: #05725a;
$color-primary-light: #006851e7;
$color-primary-dark: #1c5f51;

//orange's
$color-secondary: #FF4E4E;
$color-secondary-light: #FF1154;
$color-secondary-dark: #c74747;

//dark's
$color-text: #474747;
$color-text-2: #222;
$color-text-3: #333;
$color-text-4: #444;

//light's
$color-white: #fff;
$color-gray: #dcdbdb;
$color-gray-light: #EEE;


//FONTS
$font-primary: 'Domine', serif;
$font-secondary: 'Roboto', sans-serif;
$font-tertiary: 'Roboto', sans-serif;


//VIEWPORTS
$laptop: 1240px;
$tablet: 992px;
$phone: 767px;

//FONT SIZES
$fs-thin: 1.6rem;
$fs-sm: 1.7rem;
$fs-md: 2.4rem;
$fs-bg: 3.2rem;
$fs-hg: 4.8rem;

//site-content-width
$site-width: 117rem;
$site-width-tablet: 68rem;
$site-width-phone: 51rem;