//COLORS
$color-primary: #4FB477;
$color-primary-light: #9CFC97;
$color-white: #fff;
$color-text: #231F20;
$color-gray-light: #a1a1a1;


//FONTS
$font-primary: 'Frank Ruhl Libre', serif;
$font-secondary: 'Noto Sans Hk', sans-serif;
$font-tertiary: 'Nunito Sans', sans-serif;


//FONT SIZES
$fs-thin: 1.6rem;
$fs-sm: 1.7rem;
$fs-md: 2.4rem;
$fs-bg: 3.2rem;


