//COLORS
$color-primary: #4FB477;
$color-primary-light: #9CFC97;
$color-white: #fff;
$color-text: #231f20;
$color-gray: #dcdbdb;
$color-gray-light: #f7f7f7;


//FONTS
$font-primary: 'Frank Ruhl Libre', serif;
$font-secondary: 'Noto Sans Hk', sans-serif;
$font-tertiary: 'Inter', sans-serif;


//FONT SIZES
$fs-thin: 1.6rem;
$fs-sm: 1.7rem;
$fs-md: 2.4rem;
$fs-bg: 3.2rem;
$fs-hg: 4.8rem;


