@font-face {
  font-family: "Frank Ruhl Libre";
  src: url(/assets/fonts/FrankRuhlLibre-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans HK";
  src: url(/assets/fonts/NotoSansHK-Regular.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans HK";
  src: url(/assets/fonts/NotoSansHK-Medium.otf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans HK";
  src: url(/assets/fonts/NotoSansHK-Bold.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url(/assets/fonts/NunitoSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url(/assets/fonts/NunitoSans-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.site-content {
  width: 110rem;
  margin: 0 auto;
}

.heading-primary {
  font-family: "Noto Sans Hk", sans-serif;
  font-size: 3.2rem;
  color: #231F20;
}

.heading-secondary {
  font-family: "Noto Sans Hk", sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  color: #231F20;
}

.paragraph {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.7rem;
  color: #231F20;
  line-height: 150%;
}

.mg-tn {
  margin: 1rem 0;
}

.mg-sm {
  margin: 2rem 0;
}

.mg-md {
  margin: 3rem 0;
}

.mg-bg {
  margin: 5rem 0;
}

.mg-hg {
  margin: 7rem 0;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #a1a1a1;
}

.sub {
  font-family: "Noto Sans Hk", sans-serif;
  font-weight: 700;
  font-size: 2.1rem;
  color: #231F20;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

header {
  background-color: #111;
  width: 100%;
  height: 100px;
}

/*.header {

    &__logo-container {
        display: flex;
        justify-content: center;
    }

    &__logo-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
        margin: 1rem 0;
    }

    &__logo {
        display: block;
        background-image: linear-gradient(to bottom, $color-primary, $color-primary-light);
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }

    &__title {
        font-size: 3.7rem;
        font-family: $font-primary;
        font-weight: 500;
        color: $color-primary;
        margin-top: 3px;
    }

    &__nav {
        display: flex;
        justify-content: center;
        padding: 1.5rem 0;
        border: 1px solid #a1a1a1;
    }

    &__menu {
        width: 110rem;
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    &__link {
        font-family: $font-tertiary;
        font-size: 1.45rem;
        font-weight: 500;
        color: rgb(68, 68, 68);
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

}
*/

.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60rem;
  margin: 0 auto;
  background-color: #4FB477;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.hero__slogan {
  font-size: 6.5rem;
  font-weight: 400;
  color: #fff;
}

.hero__description {
  font-family: "Nunito Sans", sans-serif;
  font-size: 2.3rem;
  color: #fff;
  font-weight: 400;
}

