@charset "UTF-8";

.m0 {
  margin: 0;
}

.m1 {
  margin: 1rem 0;
}

.m2 {
  margin: 2rem 0;
}

.m3 {
  margin: 3rem 0;
}

.mg-bg {
  margin: 5rem 0;
}

.m5 {
  margin: 5rem 0;
}

.mg-hg {
  margin: 7rem 0;
}

.mt-a {
  margin-top: auto;
}

.mt-05 {
  margin-top: 5px !important;
}

.mb-15 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.title-xs {
  font-size: 1.8rem;
}

.title-sm {
  font-size: 2rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media (min-width: 62em) and (max-width: 77.5em) {
  html {
    font-size: 58%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Domine", serif;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 3rem;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 2.45rem;
}

h4 {
  font-size: 1.6rem;
}

p {
  font-size: 1.8rem;
  line-height: 1.65;
  margin-bottom: 2.5rem;
  color: #474747;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #222;
  word-break: break-word;
}

a:hover {
  color: #1c5f51;
}

.site-content {
  display: block;
  max-width: 117rem;
  margin: 4rem auto;
}

@media (min-width: 62em) and (max-width: 77.5em) {
  .site-content {
    padding: 0 3rem;
  }

  h3 {
    font-size: 2.1rem;
  }
}

@media (max-width: 62em) {
  .site-content {
    max-width: 68rem;
  }

  h2 {
    font-size: 3.2rem;
  }
}

@media (max-width: calc(48em - 1px)) {
  .site-content {
    max-width: 51rem;
  }
}

@media (max-width: 34em) {
  .site-content {
    width: 100%;
    padding: 0 1.5rem;
  }
}

.heading-primary {
  font-family: "Roboto", sans-serif;
  font-size: 4.8rem;
  color: #222;
}

.heading-secondary {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  color: #222;
}

.paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  color: #222;
  line-height: 150%;
  margin: 2.5rem 0;
}

.sub-heading {
  font-family: "Roboto", sans-serif;
  color: #444;
  font-size: 2.4rem;
  font-weight: 500;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__desc {
  max-width: 70rem;
}

.about p {
  line-height: 200%;
}

.site-name-vs {
  display: block;
  font-family: "Domine", serif;
  font-weight: 400;
  font-size: 5.7rem;
  color: #4FB477;
}

.contact {
  min-height: calc(100vh - 30rem);
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.contact__heading {
  max-width: 50rem;
  text-align: center;
}

.contact__heading span {
  font-size: 1.5rem;
  color: #4FB477;
}

.contact__heading h1 {
  font-size: 4.5rem;
  color: #222;
  margin: 4px 0 7px;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 2px solid #EEE;
  padding: 1.2rem 3rem;
}

.header .container {
  max-width: 117rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header .logo__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .logo__container h1 {
  display: inline-block;
  font-size: 2.7rem;
  font-family: "Domine", serif;
  color: #05725a;
  font-weight: 700;
  margin: 0;
}

.header .logo__container span {
  margin-left: 1.5px;
  color: #494949;
  font-weight: 300;
}

.header__navigation {
  width: 50%;
}

.header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.header .menu a,
.header .menu a:link {
  font-family: "Domine", serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #222;
  line-height: 2.2rem;
}

.header .menu a:active,
.header .menu a:hover {
  color: #1c5f51;
}

.header .hamburger {
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 1.5rem;
  cursor: pointer;
  color: #555;
  display: none;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  transition: 0.3s all ease;
}

@media (max-width: 62em) {
  .header {
    position: relative;
    padding: 1.5rem;
  }

  .header .container {
    width: 68rem;
    position: relative;
    flex-wrap: wrap;
  }

  .header .logo__container h1 {
    font-size: 2.3rem;
  }

  .header__navigation {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s all ease;
  }

  .header .menu {
    background-color: white;
    margin-top: 1rem;
    flex-direction: column;
  }

  .header .menu li {
    display: block;
    width: 100%;
  }

  .header .menu li a,
  .header .menu li a:link {
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 1px;
  }

  .header .menu li:not(:last-child) {
    border-bottom: 1px solid #eee;
    padding: 1.5rem 0;
  }

  .header .menu li:last-child {
    padding-top: 1.5rem;
  }

  .header .hamburger {
    display: block;
  }
}

@media (max-width: calc(48em - 1px)) {
  .header .container {
    width: 51rem;
  }
}

@media (max-width: 34em) {
  .header .container {
    width: 100%;
  }
}

.hero {
  width: 100%;
  display: flex;
  margin: 4rem 0;
}

.hero__col-1 {
  width: 58%;
  padding-right: 3rem;
  border-right: 1px solid #EAEAEA;
}

.hero__col-2 {
  width: 42%;
  padding: 0 3rem;
}

#featured-hero-img {
  width: 100%;
  max-height: 48.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 2rem;
}

@media (max-width: 62em) {
  .hero {
    flex-direction: column;
  }

  .hero__cols {
    padding: 0;
  }

  .hero__col-1 {
    border: 0;
    width: 100%;
    margin-bottom: 4rem;
  }

  .hero__col-2 {
    width: 100%;
  }
}

.smArt {
  display: flex;
}

.smArt .entry-image img {
  display: block;
  width: 15rem;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.smArt:nth-child(3) .entry-image img {
  height: 13rem;
}

.smArt .entry-content {
  padding-left: 1.7rem;
}

.smArt .entry-category {
  margin: 0;
}

.smArt .entry-title {
  font-size: 1.84rem;
  margin: 1rem 0;
  line-height: 1.6;
}

@media (max-width: 62em) {
  .smArt .entry-image img {
    width: 24rem;
    height: 15.5rem;
  }

  .smArt:nth-child(3) .entry-image img {
    height: 20rem;
  }

  .smArt .entry-title {
    font-size: 2.1rem;
  }
}

@media (max-width: calc(48em - 1px)) {
  .smArt {
    flex-direction: column;
  }

  .smArt .entry-image img {
    width: 100%;
    height: auto !important;
  }

  .smArt .entry-content {
    padding: 1.5rem 0;
  }
}

.smArt:not(:last-child) {
  border-bottom: 1px solid #EAEAEA;
  margin: 3rem 0;
  padding-bottom: 3rem;
}

.feed {
  display: flex;
  justify-content: space-between;
}

.feed__main {
  width: 67%;
  padding-right: 3rem;
}

.feed__sidebar {
  width: 33%;
}

@media (max-width: 77.5em) {
  .feed__sidebar {
    width: 35rem;
  }
}

@media (max-width: 62em) {
  .feed {
    flex-direction: column;
  }

  .feed__main {
    width: 100%;
    padding: 0;
  }

  .feed__sidebar {
    width: 100%;
    margin-top: 3rem;
  }
}

.post__heading {
  max-width: 70rem;
  text-align: center;
  margin: 4rem auto;
}

.post__title {
  font-size: 3.8rem;
  line-height: 1.4;
}

.post__img {
  display: block;
  width: 100%;
  height: 53rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  margin-bottom: 3.5rem;
  border-radius: 3px;
}

.post > figure > img {
  width: 100%;
  height: auto;
}

.post figcaption {
  display: block;
  font-size: 1.5rem;
  color: #9b9b9b;
  margin: 1rem 0;
}

.post ul,
.post ol {
  -webkit-padding-start: 4rem;
          padding-inline-start: 4rem;
}

.post li {
  margin-bottom: 1.5rem;
  line-height: 1.5;
  font-weight: 500;
  font-size: 1.8rem;
  color: #333;
}

.post li:last-child {
  margin-bottom: 3rem;
}

.post ul li::before {
  content: "\2022";
  color: #FF1154;
  font-size: 2.3rem;
  display: inline-block;
  width: 0.8em;
  margin-left: -0.8em;
  transform: translateY(1.5px);
}

.post h2,
.post h3,
.post h4 {
  margin: 4.5rem 0 1.5rem;
  font-weight: 600;
  color: #222;
}

.post a {
  color: #006851e7;
  line-height: 1.5;
}

.post a:hover {
  text-decoration: underline;
}

@media (max-width: calc(48em - 1px)) {
  .post__title {
    font-size: 3rem;
    margin-top: -1.5rem;
  }
}

.sfsi_wDiv {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 3.5rem;
  transform: translate(0, -50%);
  transition: 0.5s all linear;
}

.sfsi_wDiv .shuffeldiv {
  margin: 5px 0;
}

@media (max-width: 1440px) {
  .sfsi_wDiv {
    display: none;
  }
}

.sidebar {
  padding: 0 3rem;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  border-left: 1px solid #E5E5E5;
}

.sidebar__post {
  max-width: 100%;
  display: flex;
  border-bottom: 1px solid #eee;
  padding-bottom: 3rem;
}

.sidebar__post-counter {
  font-size: 2.6rem;
  font-weight: 700;
  font-family: "Domine", serif;
  color: #DDD;
  line-height: 1;
}

.sidebar__post-meta {
  padding-left: 1rem;
}

.sidebar__post:not(:first-child) {
  padding-top: 3rem;
}

@media (max-width: 62em) {
  .sidebar {
    border: 0;
    padding: 0;
  }

  .sidebar__post {
    padding-bottom: 3.5rem;
  }
}

.posts-bc {
  display: flex;
  justify-content: space-between;
  margin: 6rem 0;
}

.posts-bc__col {
  padding-bottom: 5rem;
}

.posts-bc__col article {
  padding-bottom: 3rem;
}

.posts-bc__col article:nth-child(2),
.posts-bc__col article:nth-child(3) {
  border-bottom: 1px solid #EEE;
}

.posts-bc__col article:not(:nth-child(2)) {
  padding-top: 3rem;
}

.posts-bc__col:not(:last-child) {
  border-right: 1px solid #EEE;
  padding-right: 3rem;
}

.posts-bc__col:not(:first-child) {
  padding-left: 3rem;
}

.posts-bc__btn {
  font-size: 1.5rem;
  text-decoration: underline;
}

.posts-bc__btn i {
  font-size: 1.4rem;
  margin-left: 5px;
  color: #444;
}

.posts-bc__btn:hover > * {
  color: #1c5f51;
}

@media (max-width: 62em) {
  .posts-bc {
    flex-wrap: wrap;
  }

  .posts-bc__col {
    width: 50%;
    padding-bottom: 7rem;
  }

  .posts-bc__col:not(:last-child) {
    border-right: 0;
    padding-right: 0;
  }

  .posts-bc__col:nth-child(3) {
    padding-left: 0;
  }
}

@media (max-width: calc(48em - 1px)) {
  .posts-bc__col {
    width: 100%;
  }

  .posts-bc__col {
    padding-left: 0 !important;
  }
}

.footer {
  font-family: "Domine", serif;
  max-width: 137rem;
  margin: 8rem auto 0;
  padding: 8rem 4rem;
  background-color: #1B3C35;
  color: white;
  border-radius: 3px;
}

.footer__row:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(238, 238, 238, 0.534);
  padding-bottom: 5rem;
}

.footer__row:first-child .footer__nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 150px;
}

.footer__row:first-child .footer__nav li:not(:last-child) {
  display: block;
  margin: 0 5rem 3rem 0;
}

.footer__row:first-child .footer__nav a {
  font-size: 1.6rem;
  color: white;
}

.footer__subscribe h4 {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.footer .suscribe-form {
  width: 50rem;
  display: flex;
}

.footer .suscribe-form input {
  width: 70%;
  padding: 1.7rem 2rem;
  outline: 0;
  font-size: 1.6rem;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.308);
  color: rgba(238, 238, 238, 0.829);
}

.footer .suscribe-form input::-moz-placeholder {
  color: rgba(238, 238, 238, 0.829);
}

.footer .suscribe-form input:-ms-input-placeholder {
  color: rgba(238, 238, 238, 0.829);
}

.footer .suscribe-form input::placeholder {
  color: rgba(238, 238, 238, 0.829);
}

.footer .suscribe-form button {
  font-family: "Domine", serif;
  width: 30%;
  font-weight: 600;
  font-size: 1.6rem;
  margin-left: auto;
  padding: 1.7rem 2rem;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.308);
  border-radius: 0 3px 3px 0;
  color: white;
  cursor: pointer;
}

.footer .suscribe-form button:hover {
  background-color: white;
  color: #1c5f51;
}

.footer__links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
  margin: 3rem 0;
}

.footer__links a {
  font-size: 1.5rem;
  color: #eee;
}

.footer__rights {
  color: #eee;
  font-size: 1.5rem;
}

@media (max-width: 62em) {
  .footer__row:first-child .footer__nav {
    height: auto;
  }

  .footer__row:first-child .footer__nav a {
    font-size: 1.6rem;
  }

  .footer__row:first-child .footer__nav li:not(:last-child) {
    margin: 0 0 3rem 0;
  }

  .footer__subscribe h4 {
    font-size: 1.6rem;
  }

  .footer .suscribe-form {
    width: 42rem;
    margin-left: auto;
  }

  .footer .suscribe-form button,
  .footer .suscribe-form input {
    font-size: 1.45rem;
  }

  .footer__links a,
  .footer__rights {
    font-size: 1.4rem;
  }
}

@media (max-width: calc(48em - 1px)) {
  .footer {
    text-align: center;
    line-height: 1.5;
  }

  .footer__row:first-child {
    flex-direction: column;
  }

  .footer__subscribe {
    margin-top: 5rem;
  }

  .footer__links {
    flex-direction: column;
  }

  .footer__links li {
    margin: 1rem 0;
  }

  .footer__links span {
    display: none;
  }

  .footer .suscribe-form {
    width: 100%;
  }

  .footer .suscribe-form input {
    width: 55%;
  }

  .footer .suscribe-form button {
    width: 45%;
  }
}

.article {
  width: 100%;
  display: flex;
  height: 22rem;
}

.article__img {
  display: block;
  width: 34rem;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.article__content {
  padding-left: 2.5rem;
}

.article__content p {
  margin: 1.5rem 0;
}

.article:not(:last-child) {
  margin-bottom: 5rem;
}

@media (max-width: 77.5em) {
  .article__img {
    width: 27rem;
    height: auto;
  }
}

@media (max-width: 62em) {
  .article {
    height: auto;
  }

  .article__img {
    width: 33rem;
    height: 22rem;
  }

  .article__content {
    padding: 1.6rem 0 0 3rem;
  }
}

@media (max-width: calc(48em - 1px)) {
  .article {
    flex-direction: column;
    height: 100%;
  }

  .article__img {
    width: 100%;
  }

  .article__title {
    display: inline-block;
    margin-top: 1rem;
  }

  .article__content {
    padding: 1.5rem 0;
  }

  .article:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.entry-image {
  border-radius: 3px;
}

.entry-category {
  display: inline-block;
  color: #333;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1.5;
  margin-top: 2px;
  margin-bottom: 1rem;
}

.entry-title {
  font-family: "Domine", serif;
  color: #222;
  margin: 0;
  font-weight: 500;
  line-height: 1.45;
}

.entry-date {
  font-size: 1.45rem;
  font-weight: 400;
  color: #999;
  margin-top: 1rem;
}

.entry-description {
  color: #555;
  margin-top: 1.5rem;
}

.entry-description > p {
  font-size: 1.5rem;
  line-height: 1.5;
}

.read-more {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: #222;
  margin-top: 1.5rem;
}

.read-more span {
  display: inline-block;
  margin-left: 5px;
  transition: 150ms;
}

.read-more:hover span {
  transform: translateX(5px);
}

.read-more:hover {
  color: #4FB477;
}

.category-meta {
  font-size: 1.5rem;
  font-weight: normal !important;
  color: #4FB477 !important;
  display: inline-block;
  margin: 1.5rem 0 2rem;
  padding: 5px 17px;
  border: 1px solid #4FB477;
  border-radius: 2rem;
  text-decoration: none;
}

.category-meta:hover {
  color: #fff !important;
  background-color: #57ce57;
  border: 1px solid #57ce57;
}

@media only screen and (max-width: 48em) {
  .category-meta {
    font-size: 1.7rem;
  }
}

.newsletter {
  margin: 6rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FBF5ED;
  padding: 5.5rem 8rem 6rem;
}

.newsletter__heading {
  font-size: 2.4rem;
  color: #444;
  margin: 0;
}

.newsletter__subscription-box input {
  max-width: 41rem;
  margin-right: 1rem;
  padding: 1.2rem 1.6rem;
  font-size: 1.9rem;
  outline: none;
  border: 1px solid #d3d3d3;
  color: #495057;
}

.newsletter__subscription-box button {
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 3rem;
  color: white;
  text-transform: uppercase;
  background-color: #444;
  padding: 1rem 2.6rem;
  outline: none;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

.categories {
  margin: 5rem 0 8rem;
}

.categories__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.categories__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24%;
  height: 23rem;
  background-color: #FBF5ED;
  color: #444;
  border-radius: 30px;
}

.categories__item > h3 {
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

@media (max-width: 62em) {
  .categories {
    margin: 5rem 0;
  }

  .categories__item {
    width: calc(50% - 1.5rem);
  }

  .categories__item:nth-child(3),
  .categories__item:nth-child(4) {
    margin-top: 3rem;
  }
}

@media (max-width: calc(48em - 1px)) {
  .categories__item {
    width: 100%;
  }

  .categories__item:not(:first-child) {
    margin-top: 3rem;
  }
}

.ad-section {
  margin: 7rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F9F9F9;
  padding: 7rem;
}

.ad-section small {
  font-size: 1.28rem;
  color: #555;
  letter-spacing: 0.2px;
}

