*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.site-content {
  width: 110rem;
  margin: 0 auto;
}

.heading-primary {
  font-family: "Noto Sans Hk", sans-serif;
  font-size: 3.2rem;
  color: #231F20;
}

.heading-secondary {
  font-family: "Noto Sans Hk", sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  color: #231F20;
}

.paragraph {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.7rem;
  color: #231F20;
  line-height: 150%;
}

.mg-tn {
  margin: 1rem 0;
}

.mg-sm {
  margin: 2rem 0;
}

.mg-md {
  margin: 3rem 0;
}

.mg-bg {
  margin: 5rem 0;
}

.mg-hg {
  margin: 7rem 0;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #a1a1a1;
}

.sub {
  font-family: "Noto Sans Hk", sans-serif;
  font-weight: 700;
  font-size: 2.1rem;
  color: #231F20;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.header {
  margin: 1rem 0;
  padding: 1rem 0;
}

.header__logo-container {
  display: flex;
  justify-content: center;
}

.header__logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  margin: 1rem 0;
}

.header__logo {
  display: block;
  background-image: linear-gradient(to bottom, #4FB477, #9CFC97);
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.header__title {
  font-size: 3.7rem;
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 500;
  color: #4FB477;
  margin-top: 3px;
}

.header .menu-main-menu-container {
  border: 1px solid #a1a1a1;
  padding: 1rem 0;
}

.header ul {
  width: 110rem;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0 auto;
}

.header li {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.45rem;
  font-weight: 500;
  color: #444444;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header a {
  display: block;
  color: #231F20;
  text-decoration: none;
}

.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60rem;
  margin: 0 auto;
  background-color: #4FB477;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.hero__slogan {
  font-size: 6.5rem;
  font-weight: 400;
  color: #fff;
}

.hero__description {
  font-family: "Nunito Sans", sans-serif;
  font-size: 2.3rem;
  color: #fff;
  font-weight: 400;
}

