.categories {
    margin: 5rem 0 8rem;

    &__container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24%;
        height: 23rem;
        background-color: #FBF5ED;
        color: #444;
        border-radius: 30px;

        & > h3 {
            font-size: 2rem;
            font-family: $font-secondary;
            margin: 0;
        }
    }
}
