.entry {

    &-image {
        border-radius: 3px;
    }

    &-category {
        display: block;
        color: #333;
        font-size: 11px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 800;
        line-height: 1.5;
        margin-top: 2px;
        margin-bottom: 1rem;
    }

    &-title {
        font-family: $font-primary;
        margin: 0;
        font-weight: 500;
        line-height: 1.5;
    }

    &-date {
        font-size: 1.4rem;
        font-weight: 400;
        color: #999;
        margin-top: 1rem;
    }

    &-description {
        color: #555;

        & > p {
            font-size: 1.5rem;
            line-height: 1.5;
        }
    }
}