.ad {
    text-align: right;
}

.v-ad {
    position: static;
    z-index: 9999;
    top: 0;
}

.md-sq-ad {
    margin: 7px 0 3rem;
}

.slim-h {
    text-align: center;

    @media (max-width: $tablet) {
        display: none;
    }
}