.ad {
    text-align: right;
}

.ad-title {
    line-height: 20px;
    color: #bcbfc5;
    letter-spacing: 1px;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.v-ad {
    position: static;
    z-index: 9999;
    top: 0;
}

.md-sq-ad {
    margin: 7px 0 3rem;
}

.slim-h {
    margin-top: 4rem;
    text-align: center;

    @media (max-width: $tablet) {
        display: none;
    }
}