.feed {
    display: flex;
    justify-content: space-between;

    &__main {
        width: 67%;
        padding-right: 3rem; 
    }

    &__sidebar {
        width: 33%;

        @media (max-width: $laptop)  {
            width: 35rem;
        }
    }


    @media (max-width: $tablet) {
        flex-direction: column;

        &__main {
            width: 100%;
            padding: 0;
        }

        &__sidebar {
            width: 100%;
            margin-top: 8rem;
        }
    }
}