.feed {
    display: flex;

    @media only screen and (max-width: 68.8em) {
        flex-direction: column;
    }

    &__main {
        max-width: 75rem;

        @media only screen and (max-width: 68.8em) {
            max-width: 100%;
        }
    }

    &__sidebar {
        max-width: 30rem;
        margin-left: 5rem;
    }
}