.feed {
    display: flex;
    justify-content: space-between;

    &__main {
        width: 87rem    ;
        padding-right: 3rem; 
    }

    &__sidebar {
        max-width: 42rem;

        @media only screen and (max-width: 77.5em)  {
            width: 35rem;
        }
    }

}