.footer {
    font-family: $font-primary;
    max-width: $site-width + 20rem;
    margin: 0 auto;
    padding: 8rem 4rem;
    background-color: #1B3C35;
    color: white;
    border-radius: 3px;

    &__row:first-child {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(238, 238, 238, 0.534);
        padding-bottom: 5rem;

        & .footer__nav {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 150px;

            & li:not(:last-child) {
                display: block;
                margin: 0 5rem 3rem 0;
            }

            & a {
                font-size: 1.6rem;
                color: white;
            }
        }   
    }

    &__subscribe h4 {
        font-size: 1.7rem;
        margin-bottom: 2rem;
    }

    & .suscribe-form {
        width: 50rem;
        display: flex;

        & input {
            width: 70%;
            padding: 1.7rem 2rem;
            outline: 0;
            font-size: 1.6rem;
            background-color: transparent;
            border: 1px solid rgba(255, 255, 255, 0.308);
            color: rgba(238, 238, 238, 0.829);
        }

        & input::placeholder{
            color: rgba(238, 238, 238, 0.829);
        }

        & button {
            font-family: $font-primary;
            width: 30%;
            font-weight: 600;
            font-size: 1.6rem;
            margin-left: auto;
            padding: 1.7rem 2rem;
            background-color: transparent;
            outline: none;
            border: 1px solid rgba(255, 255, 255, 0.308);
            border-radius: 0 3px 3px 0;
            color: white;
            cursor: pointer;
        }

        & button:hover {
            background-color: white;
            color: #1c5f51;
        }
    }

    &__links {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 300;
        margin: 3rem 0;

        & a {
            font-size: 1.5rem;
            color: #eee;
        }
    }
    
    &__rights {
        color: #eee;
        font-size: 1.5rem;
    }

    @media (max-width: $tablet) {

        &__row:first-child {
            & .footer__nav {
                height: auto;
                & a {
                    font-size: 1.6rem;
                }

                & li:not(:last-child) {
                    margin: 0 0 3rem 0;
                }
            }   
        }

        &__subscribe h4 {
            font-size: 1.6rem;
        } 

        & .suscribe-form {
            width: 42rem;
            margin-left: auto;

            & button,
            & input {
                font-size: 1.45rem;
            }
        }

        &__links a,
        &__rights {
            font-size: 1.4rem;
        }
    }

    @media (max-width: $phone) {
        text-align: center;
        line-height: 1.5;
        
        &__row:first-child {
            flex-direction: column;
        }

        &__subscribe {
            margin-top: 5rem;
        }

        &__links {
            flex-direction: column;

            & li {
                margin: 1rem 0;
            }

            & span {
                display: none;
            }
        }

        & .suscribe-form {
            width: 100%;

            & input {
                width: 55%;
            }

            & button {
                width: 45%;
            }
        }
    }
}

//#1B3C35 verde-oscuro-footer

