.header {
    margin: 1rem 0;
    padding: 1rem 0;

    //LOGO
    &__logo-container {
        display: flex;
        justify-content: center;
    }

    &__logo-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
    }

    &__logo {
        display: block;
        background-image: linear-gradient(to bottom, $color-primary, $color-primary-light);
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }

    &__title {
        font-size: 3.7rem;
        font-family: $font-primary;
        font-weight: 500;
        color: $color-primary;
        margin-top: 3px;
    }

    //MENU
    & .menu-main-menu-container {
        border-top: 1px solid #a1a1a1;
        border-bottom: 1px solid #a1a1a1;
        padding: 1rem 0;
    }

    & ul {
        width: 110rem;
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        margin: 0 auto;
    }

    & li {
        font-family: $font-tertiary;
        font-size: 1.45rem;
        font-weight: 500;
        color: rgb(68, 68, 68);
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    & a {
        display: block;
        color: $color-text;
        text-decoration: none;
    }

    //TOGGLE
    .toggle {
        width: 100%;
        padding: 1rem 2rem;
        text-align: right;
        color: $color-text;
        font-size: 3rem;
        display: none;
    }

    @media (max-width: 768px) {
        .toggle {
            display: block;
            text-align: center;
        }

        & .menu-main-menu-container {
            border: none;
        }

        ul {
            width: 100%;
            flex-direction: column;
            display: none;
        }

        ul li {
            margin: 1.5rem 0;
            text-align: center;
        }

        .active {
            display: block;
        }
}
}