.header {
    position: sticky;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 2px solid #EEE;
    padding: 1.2rem;

    .container {
        width: 130rem;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    & .logo__container {
        display: flex;
        align-items: center;
        justify-content: center;

        & h1 {
            display: inline-block;
            font-size: 3rem;
            font-family: $font-primary;
            color: #0d725c;
            font-weight: 700;
            margin: 0;
        }

        & span {
            margin-left: 1.5px;
            color: rgb(73, 73, 73);
            font-weight: 300;
        }
        
    }

    & nav {
        width: 50%;
    }

    & .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;

        & a,
        & a:link {
            font-family: $font-primary;
            font-size: 1.5rem;
            font-weight: 500;
            color: $color-text;
            line-height: 2.2rem;
        }

        & a:active,
        & a:hover {
            color: $color-primary-dark;
        }
    }

}

