.header {

    &__logo {
        color: $color-white;
        font-size: 2.7rem;
        float: left;
        line-height: 7rem;
        padding-left: 6rem;
    }

    &__nav {
        background-color: #1b1b1b;
    }

    &__nav::after {
        content: '';
        clear: both;
        display: table;
    }

    &__nav ul {
        float: right;
        list-style: none;
        margin-right: 40px;
        position: relative;
    }

    &__nav ul li {
        float: left;
        display: inline-block;
        background-color: #1b1b1b;
        margin: 0 5px;
    }

    &__nav ul li a {
        font-family: $font-tertiary;
        font-size: 1.5rem;
        color: $color-white;
        text-decoration: none;
        line-height: 70px;
        padding: 8px 15px;
    }

    &__nav ul li a:hover {
        color: cyan;
        border-radius: 5px;
        box-shadow: 0 0 5px #33ffff,
                    0 0 5px #66ffff,
    }

    &__nav ul ul li a:hover {
        color: cyan;
        box-shadow: none;
    }

    &__nav ul ul {
        position: absolute;
        top: 7rem;
        border-top: 3px solid cyan;
        opacity: 0;
        visibility: hidden;
        transition: top .3s;
    }
    
    &__nav ul li:hover > ul {
        opacity: 1;
        visibility: visible;
    }

    &__nav ul ul li {
        position: relative;
        margin: 0px;
        width: 15rem;
        float: none;
        display: list-item;
        border-bottom: 1px solid rgba(0,0,0,.3);
    }

    &__nav ul ul li a {
        line-height: 5rem;
    }

    &__nav ul ul ul li {
        position: relative;
        top: -7rem;
        left: 15rem;
    }
}