.sidebar {
    width: 30rem;

    &__ad {
        width: 100%;
        height: 65rem;
        background-image: linear-gradient(to bottom, $color-primary, $color-primary-light);
    }

    &__banner {
        width: 100%;
        height: 41rem;
        background-color: #97A092;
    }

    @media only screen and (max-width: 62.5em) {
        display: none;
    }
}