.smArt {
    display: flex;

    & .entry-image {
        & img {
            display: block;
            width: 15rem;
            height: 10rem;
            object-fit: cover;
            object-position: center;
        }
    }

    &:nth-child(3) .entry-image img {
        height: 13rem;
    }
 
    & .entry-content {
        padding-left: 1.7rem;
    }

    & .entry-category {
        margin: 0;
    }

    & .entry-title {
        font-size: 1.84rem;
        margin: 1rem 0;
        line-height: 1.6;
    }

    @media (max-width: $tablet) {
        & .entry-image {
            & img {
                width: 24rem;
                height: 15.5rem;
            }
        }
    
        &:nth-child(3) .entry-image img {
            height: 20rem;
        }
    
        & .entry-title {
            font-size: 2.1rem;
        }
    }

    @media (max-width: $phone) {
        flex-direction: column;

        & .entry-image {
            & img {
                width: 100%;
                height: auto !important;
            }
        }

        & .entry-content {
            padding: 1.5rem 0;
        }
    }
}


.smArt:not(:last-child) {
    border-bottom: 1px solid $color-gray-light;
    margin: 3rem 0;
    padding-bottom: 3rem;
}